# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/

#Project exlude files

#testserver
/testserver/*
!/testserver/paper-1.21-123.jar
!/testserver/eula.txt
!/testserver/start.bat

!/testserver/plugins/
/testserver/plugins/**/

# Project exlude file types
*.env


